<h2>Listing Search Results</h2>
<h5>for '<i><%= strip_query(@search_query) %></i>' </h5>

<table>
  <thead>
    <tr>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for search_result <- @search_results do %>
    <tr>

      <td>
        <span><%= search_result.name %></span>
      </td>
      <td>
        <span>... <%= raw search_result.highlight %> ...</span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Search", to: Routes.page_path(@conn, :index) %></span>
