<section class="caption-box">
  <h1><%= gettext "Welcome to %{name}!", name: "QuoteMe" %></h1>
  <p>The most complete quotes engine in the world.</p>
  <p>Find out who said it.</p>
</section>
<section class="count-info">
  <span>Movies: <%= @movie_count %></span><br/>
  <span>Subtitles: <%= @subtitle_count %></span>
</section>
<%= render "form.html", conn: @conn%>
